fastapi
uvicorn[standard]
pydantic
python-jose[cryptography]
passlib[bcrypt]
pandas
python-multipart
sqlalchemy
numpy
xgboost
scikit-learn
joblib
scipy
openai
google-genai
python-dotenv
chromadb
httpx
sentence-transformers
requests
